
* {
  font-size: 14px;
}

.body {
  height: 100vh;
  background: #f7f9fc;
  overflow: hidden;
}

.app {
  height: 100%;
  background-image: url("background.jpg");
}

.page-header {
  margin-top: 0;
  width: 100%;
  padding-left: 20px;
}

.flexBox {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100%;
  z-index: 10;
  padding-right: 0;
  background: rgb(255, 255, 255);
 }

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 30%;
  padding-bottom: 20px;
  overflow-y: scroll;
  border-left-style: solid;
  border-width: 1px;
  border-color: #9e9e9e;
  background: #f5f5f5;
  box-shadow: -5px 0px 14px -1px rgba(0,0,0,0.58);

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.menu::-webkit-scrollbar {
    display: none;
}

.mode {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

.switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.diagramContainer {
  width: 70%;
  height: 100%;
}

.diagramLabel {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  text-align: center;
  width: 92%;
  z-index: 10;
  margin: auto;
  font-weight: bold;
  box-shadow: 0px 23px 28px -25px rgba(0,0,0,0.75);
  border-bottom: solid;
  border-bottom-width: 1px;
}

.diagram {
  height: calc(100% - 65px);
}

.alertMessage {
  font-size: 20px;
  text-align: center;
  margin-right: auto;
  width: 100%;
}

.alert-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

.alert-button {
  margin: 15px;
  padding: 10px 20px 10px 20px;
}

.section-header {
  width: calc(100% - 20px);
  margin-left: 20px;
  padding-right: 10px;
  border-bottom: solid;
  border-bottom-width: 1px;
  font-size: 16px;
  font-weight: bold;
}

.section-body {
  width: ca100%;
  padding: 10px 20px 20px 30px;
}

.decisions-container {
  display: flex;
  flex-direction: column;
}

.decision {
  padding: 20px 10px 20px 30px;
  cursor: pointer;
}

.decision:hover {
  background: #c9c9c9;
  font-weight: bold;
}

.decision-disabled {
  cursor: not-allowed;;
}


.button {
  border-radius: calc(0.01*100vh);
  border-style: none;
  font-weight: bold;
  background: rgb(231, 231, 231);
  color: #000000;
}

.button:hover {
  background: rgb(247, 249, 252);
}

.button-form {
  border-radius: 4px;
  border-style: none;
  font-weight: bold;
  background: #777777;
  color: white;
  margin: 20px;
  padding: 8px 15px 8px 15px;
}

.button-form:hover {
  background: #000000;
}

.input-form {
  border-radius: 4px;
  padding: 8px 0 8px 5px;
  background: rgb(204, 204, 204);
  border-style: none;
  margin: 5px;
  width: 30%;
}

.input-form:focus {
  outline: none;
  background: rgb(231, 231, 231);
}

.subproblems-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 5px 0 -10px 0;
}

.constraints {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}
