.dropbtn {
    background-color: #777777;
    color: white;
    padding: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-block;
    z-index: 1000;
}

.dropdown-content {
    display: none;
    position: fixed;
    right: 0;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(204, 204, 204)}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000000;
}
