.login-page {
  height: 100vh;
}

  .login-circle {
    position: relative;
    top: calc((100% - 0.75*100vh) / 2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(0.75*100vh);
    height: calc(0.75*100vh);
    margin: 0 auto;
    box-sizing: border-box;
    padding: calc(0.1*100vh);
    border-radius: 50%;
    z-index: 10;
    background-color: rgba(209, 209, 209, 0.9);
  }

      .user {
        width: calc(0.22*100vh);
        height: calc(0.22*100vh);
        border-radius: 50%;
        background-color: #f7f9fc;
      }

        .icon-position {
          margin-top: calc(0.022*100vh);
          color: #000000;
          font-size: calc(0.165*100vh);
          margin-left: calc(0.028*100vh);
        }

.glyphicon {
  position: static;
}

.form {
  width: calc(0.4*100vh);
  height: calc(0.3*100vh);
  font-size: calc(0.035*100vh);
  padding-top: calc(0.04*100vh);
}

.input {
  width: calc(100% - 0.02*100vh);
  height: calc(0.06*100vh);
  margin: calc(0.01*100vh);
  padding: calc(0.01*100vh);
  border-radius: calc(0.01*100vh);
  background: rgb(231, 231, 231);
  border-style: none;
}

.input:focus {
  outline: none;
  background: rgb(247, 249, 252);
}

.logIn {
  position:relative;
  width: 80%;
  height: calc(0.08*100vh);
  left: 10%;
  margin-top: calc(0.04*100vh);
}
