.userPanelContainer {
  background: rgba(27, 27, 28, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  overflow-y: auto;
  cursor: pointer;
}

.userPanel {
  display: flex;
  flex-direction: column;
  width: 40%;
  max-height: 90%;
  background: white;
  border-radius: 1%;
  margin: auto;
  margin-top: 2.5%;
  padding: 10px 10px 20px 10px;
  align-items: stretch;
  overflow-y: auto;
  cursor: default;
}

.userPanel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 140px;
}

.userPanel-statistics {
  padding: 20px 10px 10px 10px;
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 155px;
}

.number {
  font-size: 35px;
  width: 20%;
  text-align: center;
}

.stat {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  align-items: baseline;
  font-weight: bold;
  padding-left: 10px
}

.userPanel-bans {
  padding: 20px 10px 0px 10px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  min-height: 125px;
}

.ban {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  margin: 0 5px 0 10px;
  font-size: 22px;
  min-height: 23px;
}

.ban:last-child {
  margin-bottom: 15px;
}

.date {
  width: 15%;
  text-align: left;
}

.avatar {
  font-size: 70px;
  padding: 15px;
  border-radius: 50%;
  background: black;
  color: white;
  font-weight: bold;
  margin: 20px;
}


.username {
  width: 70%;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.closeButton {
  color: #777777;
  float: right;
  border-style: none;
  background: none;
    outline: none;
    align-self: flex-start;
    font-size: 16px;
    width: 10%;
    text-align: right;
}

.closeButton:hover {
  color: black;
}
